:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background: rgb(66,66,66);
  background: radial-gradient(circle, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 100%);
  height: 100%;
  overflow-y: hidden;
  margin: 0;
}


/*GENERAL STYLES*/
/*Buttons*/
.button{
  margin: 1em;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #101010;
}
.button:hover{
  box-shadow: 0px 0px 15px #101010;
}
.button:active{
  box-shadow: 0px 0px 15px #fff;
}


/*HOME*/
#home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35vh;
}

.home-buttons{
  text-align: center;
}


/*SINGLE PLAYER*/
.playmap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.playmap > div {
  height: 90vh;
  width: 100vw;
  background-color: #60606033;
  margin: 2em;
  border-radius: 25px;
  text-align: center;
}

.player-up{
  background-color: #ff000005;
  height: 50%;
  border-radius: 25px 25px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-down{
  background-color: #00ff0005;
  height: 50%;
  border-radius: 0px 0px 25px 25px;
}

.screen-message{
  width: 100%;
  height: 0px;
  justify-content: center;
  align-content: center;
}

.screen-message-text{
  font-size: 50px;
  text-shadow: 0px 0px 10px black;
}